<div class="loginBox" id="grad">
  <img src="../../assets/user.jpg" class="user">
  <h2>Signup Here</h2>
  <form>
    <span class="name">First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="F_Name" placeholder="First Name"><br>
    <span class="name">Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="L_Name" placeholder="Last Name"><br>
    <span class="name">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="P_No" pattern="[0-9]{10}" placeholder="Phone No"><br>
    <span class="name">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="email" required name="E_Id" placeholder="Email Address"><br>
    <span class="name">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="password" required name="Pswd" placeholder="••••••"><br>
    <span class="name">Confirm Password&nbsp;:&nbsp;</span>
    <input type="password" required name="Pswd2" placeholder="••••••"><br>
    <input type="submit" name="Submit" value="Sign In">
  </form>
</div>

<div class="loginBox" id="grad">
  <img src="../../assets/user.jpg" class="user">
  <h2>Signup Here</h2>
  <form>
    <span class="name">First Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="F_Name" placeholder="First Name"><br>
    <span class="name">Last Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="L_Name" placeholder="Last Name"><br>
    <span class="name">Phone&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="text" required name="P_No" pattern="[0-9]{10}" placeholder="Phone No"><br>
    <span class="name">Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="email" required name="E_Id" placeholder="Email Address"><br>
    <span class="name">Password&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
    <input type="password" required name="Pswd" placeholder="••••••"><br>
    <span class="name">Confirm Password&nbsp;:&nbsp;</span>
    <input type="password" required name="Pswd2" placeholder="••••••"><br>
    <input type="submit" name="Submit" value="Sign In">
  </form>
</div>

